@import 'foundation';

body {
  background: #e2ebf3;
}
.imageWrapper {
 
  width: 300px;
  height: 330px;
  margin: 3%;
  float: left;
  font-size: .8em;
  border: 3px solid black;
  border-radius: 2px;
  box-shadow: 5px 5px 5px white; 
  background-color: black;

    h5 {
      color: white;
      padding: 2%;
    }
    img {
      width: 300px;
      height: 200px;
    }
    
    button {
      padding: 1%;
      position: relative;

    }

}
.heart {
  background-image: url('http://images.vectorhq.com/images/previews/2e0/heart-transparent-inside-psd-446527.png');
  background-position: center;
 
  
}
.formWrapper {
  margin: 6%;
  width: 500px;
}
